<!-- Validation failure messages -->


<div class="page-header">
  <h3>Invite Players to Your Table</h3>
</div>

<p></p>
Give your friends your table id and table password 
and tell them to join via the join button in the main menu
</p>
<a href="/" class="btn btn-primary">Back</a>