<!-- Validation failure messages -->
<% if @table.errors.any? %>
<% @table.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="page-header">
  <h3>Add Table</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_table" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control">
      </div>

      <!-- Label and input for password -->
      <div class="form-group">
        <label for="password" class="control-label">
          Table Password
        </label>

        <input type="text" id="password" name="password" placeholder="Table Password" class="form-control">
      </div>

      <!-- Label and input for big blind -->
      <div class="form-group">
        <label for="big_blind" class="control-label">
          Big Blind
        </label>

        <input type="text" id="big_blind" name="big_blind" placeholder="Big blind" class="form-control">
      </div>

      <!-- Label and input for buy in -->
      <div class="form-group">
        <label for="buy_in" class="control-label">
          Buy in
        </label>

        <input type="text" id="buy_in" name="buy_in" placeholder="Buy in" class="form-control">
      </div>




      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <button class="btn btn-success">
        Create Table
      </button>
      or
      <a href="/">Cancel</a>
    </form>
  </div>
</div>
