<!DOCTYPE html>
<html lang="en">
<head>
  
</head>

<body>
  <table class="table table-bordered">

    <% @deck.each do |card| %>
    <tr>
      <td><%= card.card %></td>
      <td><img src="<%= card.image_url %>"></td>
    </tr>
    <% end %>
  </table>
</body>

</html>
